/* TREŚĆ STRONY */
body{
	
	background-image: url(2.jpg);
	color:#c4c4c4;
	}
.cont1 {
	position: relative;
	max-width: 80%;
	min-height: 100%;
	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:800px;
	border-radius: 10px;
	}
.image21{
	text-align: center;
	background-image: url(main.jpg);
	max-height: 237px;
	max-width: 450px;
	height:237px;
	margin-left: 190px;
	}
.eng{
	color:#ffffff;
	}
.text1 {
	position: relative;
	padding: 1.5em;
	text-align:right;
	font-style: normal;
	background-image: url(logo3.jpg);
	vertical-align:middle;
	height: 175px; 
	border-radius: 10px;
	font-size: 1em;
	color:#000000;
	}
.title1 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.cont1 .page1 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;

	}
.cont1 .page71 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 13%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 40px;
	}
.cont2 {
	position: relative;
	max-width: 80%;
	min-height: 74%;
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:900px;
	border-radius: 10px;
	}
.text2 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title2 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.yang{
    background-image: url(yang.jpg);
    width:300px;
    float:right;
	}
.cont2 .page2 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 65%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont2 .page22 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 8%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont2 .page32 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height:10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont2 .page42 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.cont222 {
	position: relative;
	max-width: 80%;
	min-height: 74%;
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:1100px;
	border-radius: 10px;
	}
.text222 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title222 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.riemann{
    float:right;
    background-image: url(riemann.jpg);
    width:350px;
     }
.cont222 .page222 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 70%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont222 .page2222 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 4%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont222 .page3222 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont222 .page4222 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.cont3 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:1000px;
	border-radius: 10px;
	}
.text3 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title3 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.pnp{
    float: right;
    background-image:url(p.np.jpg);
    width:300px;
    }
.cont3 .page3 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 69%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont3 .page23 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 4%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont3 .page33 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height:3%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont3 .page43 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.cont4 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:1100px;
	border-radius: 10px;
	}
.text4 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title4 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.navier{
    float:right;
    background-image: url(navier.jpg);
    width:250px;
	}
.cont4 .page4 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 71%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont4 .page24 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 4%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont4 .page34 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont4 .page44 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.cont5 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:900px;
	border-radius: 10px;
	}
.text5 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title5 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.hodge{
    float:right;
    background-image: url(hodge.jpg);
    width: 250px;
	}
.cont5 .page5 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 60%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.odn{
    color: #000000;
	}
.cont5 .page25 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 10%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont5 .page35 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont5 .page45 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.cont6 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:1300px;
	border-radius: 10px;
	}
.text6 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title6 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.poincare{
    float: right;
    background-image: url(poincare.jpg);
    width:400px;
	}
.cont6 .page6 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 76%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.odn{
    color: #000000;
	}
.cont6 .page26 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 5%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont6 .page36 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont6 .page46 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.cont6 .page66 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 60%;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
	}
.cont7 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:900px;
	border-radius: 10px;
	}
.text7 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title7 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.birch{
    float: right;
    background-image: url(birch.jpg);
    width: 300px;
	}
.cont7 .page7 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 65%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont7 .page27 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 10%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont7 .page37 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 4%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont7 .page47 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.cont8 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:1790px;
	border-radius: 10px;
	}
.text8 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title8 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.cont8 .page8 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 82%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont8 .page28 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 5%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont8 .page38 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont9 {
	position: relative;
	max-width: 800%;
	min-height: 100%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:1175px;
	border-radius: 10px;
	}
.text9 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title9 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.streszczenie{
    background-image: url(a.jpg);
    float:right;
    width:300px;
	}
.cont9 .page9 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 860px;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont9 .page29 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 8%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont9 .page39 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 600px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    position: relative;
	}
.cont10 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:900px;
	border-radius: 10px;
	}
.text10 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title10 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.clay{
    background-image: url(b2.jpg);
    /* float:center; */
    width: 750px;
	}
.cont10 .page10 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 60%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont10 .page310 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont11 {
	position: relative;
	max-width: 80%;
	min-height: 74%;	
	padding: 1.5em;
	margin: 1.5em auto;	
	text-align:center;
	background-color:#858585;
	width:80%;
	height:1450px;
	border-radius: 10px;
	}
.text11 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title11 {
	margin:0 auto;
	text-align:center;
	background-color:#c4c4c4;
	border-radius: 10px;
	font-size:2.5em;
  	margin-bottom: 0.2em;
	border: solid;
	border-color:#c4c4c4;
	color: #000000;
	}
.cont11 .page11 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 78%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont11 .page211 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 5px;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;  	  
	}
.cont11 .page311 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 2%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
	}
.cont11 .page411 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    /* float: center; */
    height: 40%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
	}
.odn{
    color: #000000;
	}
	
/* MENU */
.cont1 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont1 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}

.cont2 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont2 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont2 .menu1 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont2 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont222 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont222 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont3 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont3 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont4 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont4 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont5 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont5 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont6 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont6 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont7 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont7 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont8 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont8 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont9 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont9 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont10 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont10 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}
.cont11 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 480px;
    margin-top: 0;
    text-align: left;
    width: 21%;}
.cont11 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;}




#menu1 ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;}
#menu1 ul {
	width: 200px;
	padding: 2px 2px 1px 2px;
	background-color: #c4c4c4;
	border: 3px double #c4c4c4;}
#menu1 ul li {
	border-bottom: 1px solid #858585;
	}
#menu1 ul a:link, #menu1 ul a:visited {
	display: block;
	width: 176px;
	text-decoration: none;
	text-align: center;
	padding: 7px;
	background-color: #c4c4c4;
	color: #000000;
	border-left: 15px solid #c4c4c4;}
#menu1 ul a:hover {
	width: 176px;
	background-color: #d4d4d4;
	color: #000000;
	border-left: 25px solid #d4d4d4;}
#glowny{
 height:40px;
 width:100%;
 overflow:hidden;
 text-align: center;}
#glowny:hover{
	height:100%;
	width:176px;
	}
#glowny ul{
 padding:0px;
 list-style:none;
 display:block;
 margin:0px;
 width:100%;
 height:100%;}
#naglowek{
	background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 0px;
    float: left;
    height: 100%;
    margin-top: 0;
    text-align: left;
    width: 0%;}
h2{
	font-size:20px;
	padding:0;
	text-align:center;
	}
*{
	padding:0px;
	margin:0px;
	}

/* STOPKA */ 
.cont1 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont1 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont2 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont2 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont222 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont222 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont3 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont3 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont4 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont4 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont5 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont5 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont6 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont6 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont7 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont7 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont8 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont8 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont9 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont9 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont10 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont10 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}
.cont11 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    right:10px;
    color: #000000;}
.cont11 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;}



#menu2 ul, ul li {	
	margin: 0;
	padding: 0;}
#menu2 ul {
	list-style: none;
	margin: 0;
	padding:0;
	width: 90%;
	padding: 2px 2px 1px 2px;
	background-color: #a4a4a4;}
#menu2 ul li {
	display: inline;
	}










/*   STRONA PO ANGIELSKU */

body{
    
    background-image: url(2.jpg);
    color:#c4c4c4;
    }
.cont13 {
    position: relative;
    max-width: 80%;
    min-height: 100%;   
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:850px;
    border-radius: 10px;
    }
.image213{
    
    text-align: center;
    background-image: url(main.jpg);
    max-height: 237px;
    max-width: 450px;
    height:237px;
    margin-left: 190px;
    }
.eng{
    color:#ffffff;
    }
.text13 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title13 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.cont13 .page13 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont13 .page713 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 40px;
    }
.cont14 {
    position: relative;
    max-width: 80%;
    min-height: 74%;
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:950px;
    border-radius: 10px;
    }
.text14 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title14 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.yang{
    background-image: url(yang.jpg);
    float:right;
    width:300px;
    }
.cont14 .page14 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 65%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont14 .page214 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 8%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont14 .page314 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height:20%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont14 .page414 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.cont15 {
    position: relative;
    max-width: 80%;
    min-height: 74%;
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:1150px;
    border-radius: 10px;
    }
.text15 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title15 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.riemann{
    background-image: url(riemann.jpg);
    width:350px;
    float: right;
    }
.cont15 .page15 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 70%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont15 .page215 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 4%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont15 .page315 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 20%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont15 .page415 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.cont16 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:1050px;
    border-radius: 10px;
    }
.text16 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title16 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.pnp{
    background-image: url(p.np.jpg);
    float: right;
    width: 300px;
    }
.cont16 .page16 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 68%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont16 .page216 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 4%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont16 .page316 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height:3%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont16 .page416 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.cont17 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:1050px;
    border-radius: 10px;
    }
.text17 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title17 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.navier{
    background-image: url(navier.jpg);
    float: right;
    width: 250px;
    }
.cont17 .page17 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 71%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont17 .page217 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 4%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont17 .page317 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 8%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont17 .page417 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.cont18 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:950px;
    border-radius: 10px;
    }
.text18 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title18 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.hodge{
    background-image: url(hodge.jpg);
    float: right;
    width:250px;
    }
.cont18 .page18 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 60%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.odn{
    color: #000000;
    }
.cont18 .page218 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 10%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont18 .page318 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont18 .page418 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.cont19 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:1250px;
    border-radius: 10px;
    }
.text19 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title19 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.poincare{
    background-image: url(poincare.jpg);
    float: right;
    width:400px;
    }
.cont19 .page19 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 73%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.odn{
    color: #000000;
    }
.cont19 .page219 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 5%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont19 .page319 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont19 .page419 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.cont19 .page619 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 60%;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    }
.cont20 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:950px;
    border-radius: 10px;
    }
.text20 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title20 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.birch{
    background-image: url(birch.jpg);
    float: right;
    width:450px;
    }
.cont20 .page20 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 65%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont20 .page220 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 10%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont20 .page320 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 4%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont20 .page420 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.cont21 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:950px;
    border-radius: 10px;
    }
.text21 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title21 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.b2{
    background-image: url(b2.jpg);
    width:780px;
    }
.cont21 .page21 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 60%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont21 .page321 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont23 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:1500px;
    border-radius: 10px;
    }
.text23 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title23 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.cont23 .page23 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 78%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont23 .page223 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 5px;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont23 .page323 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 2%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont23 .page423 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 40%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: center;
    width: 96%;
    color: #000000;
    font-size: 20px;
    }
.odn{
    color: #000000;
    }
.cont24 {
    position: relative;
    max-width: 80%;
    min-height: 74%;    
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:1840px;
    border-radius: 10px;
    }
.text24 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title24 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.cont24 .page24 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 82%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont24 .page224 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 3%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont24 .page324 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont25 {
    position: relative;
    max-width: 800%;
    min-height: 100%;   
    padding: 1.5em;
    margin: 1.5em auto; 
    text-align:center;
    background-color:#858585;
    width:80%;
    height:1060px;
    border-radius: 10px;
    }
.text25 {
    position: relative;
    padding: 1.5em;
    text-align:right;
    font-style: normal;
    background-image: url(logo3.jpg);
    vertical-align:middle;
    height: 175px; 
    border-radius: 10px;
    font-size: 1em;
    color:#000000;
    }
.title25 {
    margin:0 auto;
    text-align:center;
    background-color:#c4c4c4;
    border-radius: 10px;
    font-size:2.5em;
    margin-bottom: 0.2em;
    border: solid;
    border-color:#c4c4c4;
    color: #000000;
    }
.a{
    background-image: url(a.jpg);
    float:right;
    width:300px;
    }
.cont25 .page25 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: right;
    height: 750px;
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    width: 76%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    }
.cont25 .page225 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    height: 8%;
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    width: 76%;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    }
.cont25 .page325 {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 6px;
    float: left;
    height: 600px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    text-align: left;
    width: 96%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    position: relative;
    }
/*  MENU */
.cont13 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont13 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont14 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont14 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont15 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont15 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont16 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont16 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont17 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont17 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont18 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont18 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont19 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont19 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont20 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont20 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont21 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont21 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont23 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont23 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont24 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont24 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
.cont25 .menu {
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 10px;
    float: left;
    height: 500px;
    margin-top: 0;
    text-align: left;
    width: 21%;
    }
.cont25 .menutitle a {
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    }
#menu1 ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    }
#menu1 ul {
    width: 200px;
    padding: 2px 2px 1px 2px;
    background-color: #c4c4c4;
    border: 3px double #c4c4c4;
    }
#menu1 ul li {
    border-bottom: 1px solid #858585;
    }
#menu1 ul a:link, #menu1 ul a:visited {
    display: block;
    width: 176px;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    background-color: #c4c4c4;
    color: #000000;
    border-left: 15px solid #c4c4c4;
    }
#menu1 ul a:hover {
    width: 176px;
    background-color: #d4d4d4;
    color: #000000;
    border-left: 25px solid #d4d4d4;
    }
#glowny{
 height:40px;
 width:100%;
 overflow:hidden;
 text-align: center;
    }
#glowny:hover{
    height:100%;
    width:200px;
    }
#glowny ul{
 padding:0px;
 list-style:none;
 display:block;
 margin:0px;
 width:100%;
 height:100%;
    }
#naglowek{
    background-color: #C4C4C4;
    border: medium solid #c4c4c4;
    border-radius: 0px;
    float: left;
    height: 100%;
    margin-top: 0;
    text-align: left;
    width: 0%;
    }
h2{
    font-size:20px;
    padding:0;
    text-align:center;
    }
*{
    padding:0px;
    margin:0px;
    }
/*   STOPKA   */
.cont13 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont13 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont14 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont14 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont15 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont15 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont16 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont16 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont17 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont17 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont18 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont18 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont19 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont19 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont20 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont20 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont21 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont21 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont23 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont23 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont24 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont24 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
.cont25 .footer {
    bottom:0;
    background-color: #a4a4a4;
    border: medium solid #a4a4a4;
    border-radius: 10px;
    float: left;
    height: 30px;
    margin-top: 0;
    text-align: center;
    width: 99.55%;
    position:absolute;
    list-style: none;
    left:0px;
    color:#000000;
    right:10px;
    }
.cont25 .footer a {
    color: #000000;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
#menu2 ul, ul li {
    
    
    margin: 0;
    padding: 0;
    }
#menu2 ul {
    list-style: none;
    margin: 0;
    padding:0;
    width: 90%;
    padding: 2px 2px 1px 2px;
    background-color: #a4a4a4;
    
    }
#menu2 ul li {
    display: inline;
    
    }